<section>
    <h2>Centro de Mensajes</h2>
    <div id="messages">

    </div>

    <form action="api/messages" method="post">
        <input type="email" name="email" id="email" placeholder="Tu Nombre">
        <input type="text" name="texto" id="texto" placeholder="Cuéntanos algo...">
        <input type="submit" value="Enviar">

    </form>
</section>