<section class="section">
    <div class="separacion">
        <h2>Centro de Mensajes</h2>
        <div id="messages">

        </div>

        <form action="api/messages" method="post">
            <input type="email" name="email" id="email" placeholder="Tu Nombre">
            <input type="text" name="texto" id="texto" placeholder="Cuéntanos algo...">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Enviar</button>

        </form>
    </div>
</section>