{{#if printProducts}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow">
                <th>Producto</th> <th>Precio</th> <th>Imagen</th>
                {{#each allProducts}}
                    <tr>
                        <td>{{title}}</td>
                        <td>${{price}}</td>
                        <td><img style="height:4em"src="{{thumbnail}}" alt="{{title}}"></td>
                    </tr>  
                {{/each}}
            </tr>
        </table>
    </div>
{{/if}}
<div class="container">
    <form action="api/products" method="post">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Agregar producto</button>
    </form>
</div>
